.bg-green{
  background-color: #3DAA0A !important;
}
body{
  font-family: 'Fira Sans', sans-serif;
  background-color: #fff;
  background-image: url(../assets/images/bg.jpg) !important;
  background-size: cover;
}
.form-control{
  opacity: .5;
  border: none !important;
  color: #fff !important;
}
.form-control:focus {
    opacity: 1;
    border-color: #fff !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #fff !important;
}
.cardClass{
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.header{
  border-bottom: 4px solid #3DAA0A;
}

.container{
  max-width: 100% !important;
  margin:0 !important;
  padding: 0 !important;
}
.text-green{
  color: #3DAA0A;
}
.bottomText{
  background-color: rgba(0,0,0,0.5);
}